.cabeçalho{
    background-color: #DB6624
    color black;
    display: flex;
    padding: 24px;
    font-size: 20px;
    justify-content: space-around;
}

*{ 
    margin: 0;
    padding: 0;
}

.cabeçalhoimagem{
    width: 8%;
    height: 8%;
}

.cabeçalholista{
    justify-content: center;
}

.sobre-o-bionguinho{
    background-image: linear-gradient( black, black);
    color: white;
    font-size: 20px;
    padding: 0px 250px;
}
.sobre-o-bionguinho{
    padding: 24px 0px;
}